.allergenics {
    display: flex;
    align-items: center;
    gap: .25rem;
    color: #301dab;
    font-weight: bold;
    width: 100%;
   
}

.icons {
    
    display: flex;
    gap: .25rem;
    font-weight: normal;

}