@import "styles/variables";
@import "styles/breakpoints";

.header {

    background-color: #dd0000;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    height: 20rem;
    padding: 0rem $padding-x;
    position: relative;

    @media (max-width: $desktop_xsm) {
        padding: 0rem $padding-x-mobile;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 0rem $padding-x-sm;
    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 0rem $padding-x-md;
    }

    &__text {
        color: white;
        font-size: 3rem;
        min-width: 25rem;
        font-weight:900;

        &__lighter {
            font-weight: 300;
        }

    }
}


.pasta {
    height: 10rem;
    width: 10rem;


    fill: white;
    position: absolute;
 
    left: calc(50vw - 30rem);
    top: 4rem;
}