$padding-x-mobile: 0rem;
$padding-x-sm: 8rem;
$padding-x-md: 12.5rem;
$padding-x: 16rem;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$dark-red: #b22b2b;
$dark-green: #1e7e34;
$inset-shadow:  inset 0 0 5px 2px rgba(0, 0, 0, 0.05);
$shadow:  0 2px 6px rgba(0, 0, 0, 0.2);
$inset-shadow-stronger:  inset 0 0 5px 2px rgba(0, 0, 0, 0.2);